<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <main id="body">

        </main>

    </div>
</body>
<script>
    $(document).ready(function() {
        $('.nav-link').click(function() {
            event.preventDefault();
            $('#body').html('');
            var pageLink = $(this).attr('href');
            $('.nav-item').removeClass('active');
            $(this).parent().addClass('active');
            $.ajax({
                url: pageLink,
                method: "get"
            }).done(
                function(result) {
                    $('#body').html(result);
                }
            ).fail(
                function() {
                    console.log('Error in Page Api Call');
                }
            );
        });

    });
</script>

</html>